name: tests

on:
  pull_request:
  push:
  schedule:
    - cron: '0 0 * * 1'

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        nimversion: 
          - choosenim:stable
          # - devel
          # no devel for now because GitHub Actions won't let me not fail for them
          - binary:1.6
          - binary:1.4
          - binary:1.2
          - binary:1.0
        os:
        - ubuntu-latest
        - macOS-latest
        - windows-latest
    steps:
    - uses: actions/checkout@v1
    - uses: iffy/install-nim@v4
      with:
        version: ${{ matrix.nimversion }}
    - run: nim --version
    - name: Test
      run: |
        nimble test
        nimble refresh
    - name: Docs
      if: runner.os == 'Linux' && matrix.nimversion == 'stable'
      run: |
        ./builddocs.sh
